/*
    component: title.scss
*/

.title {
	font-family: sans-serif;
	font-family: Montserrat;
	color: $color-black;

	&--primary {
		font-size: 54px;
	}

	&--secondary {
		font-size: 24px;
	}

	&--terc {
		font-size: 32px;
	}
}
