/*
    global: typography.scss
*/

.montserrat {
	&--semi-bold {
		font-family: 'Montserrat', sans-serif;
		font-style: normal;
		font-weight: 600;
	}
	&--54 {
		font-size: 54px;
	}
	&--32 {
		font-size: 32px;
	}
}

.nunito {
	&--regular {
		font-family: 'Nunito', sans-serif;
		font-style: normal;
		font-weight: 400;
	}
	&--semi-bold {
		font-family: 'Nunito', sans-serif;
		font-style: normal;
		font-weight: 600;
	}
	&--light {
		font-family: 'Nunito', sans-serif;
		font-style: normal;
		font-weight: 300;
	}
	&--24 {
		font-size: 24px;
	}
	&--18 {
		font-size: 18px;
	}
	&--14 {
		font-size: 14px;
	}
	&--12 {
		font-size: 12px;
	}
}
