/*
    global: vars.scss
*/

// utils
$unit: 4px;

// colors
$color-primary: #2c6efe;
$color-secondary: #f1f5f9;

$color-grey-table: #f7f7f7;

$color-err: #e3515b;
$color-white: #ffffff;
$color-black: #000000;
